/* app css stylesheet */

* {
	margin:0;
	padding:0;
}

body {
	background-color: white;
	color: #BEBEBE;
	font-family: arial;
	height:100%;
	width:100%;
}
.wrapper-box {
	border :1px solid #D7D7D7;
	padding:10px 10px 20px 10px;
	width:400px;
	margin:150px auto;
	position:relative;
}

.event-box {
	height:35px;
	width:100%;
}

.event-text {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #D7D7D7;
    font-size: 15px;
    height: 34px;
    padding: 0 5px;
    width: 242px;
}

.no-event {
    border: 1px solid #E4E4E4;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
	text-align:center;
}

.dup-event {
	border: 1px solid #FF0000;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
	text-align:center;
	color:#FF0000;
	opacity:0.6;
	margin-top:10px;
}

.event-display {
	background-color: #F1F1F1;
    border: 1px solid #E4E4E4;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.event-display:after {
	background-color: #EDB330;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: auto;
    width: 100%;
}

.add-button {
	background-color: #EDB330;
    border: 1px solid #BEBEBE;
    color: #FFFFFF;
    font-weight: bold;
    height: 36px;
    padding: 0 5px;
    width: 147px;
	vertical-align:top;
	display:inline-block;
}

.disable-btn {
	background-color: #d3d3d3;
}

.navigation {
	width:20%;
	display:inline-block;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.heading {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 57%;
	margin-bottom:10px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.highlight {
	font-size: 40px;
    font-weight: bold;
}

.smaller-font {
	font-size:80%;
}

.cur-hand {
	cursor:pointer;
}

.underline {
	border-bottom:1px solid #EDB330;
	padding-bottom:5px;
}

.pull-right {
	float:right;
}

.pull-left {
	float:left;
}

.del-event {
	display: inline-block;
	float: right;
	cursor:pointer;
}

/** Animation **/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp.ng-enter {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.fadeOutUp.ng-leave {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}